/* adapted by pkmizer v11 */
/* adapted by pkmizer v10 */
:root {
  --mermaid-theme: night;
}

[lang='mermaid'] .label {
  color: #333;
}

pre { overflow-x: auto; }

body li::before { display: none; }

pre { overflow-x: auto; }

body li::before { display: none; }
