/* adapted by pkmizer v4 */
@charset "UTF-8";
/* CSS Document */

/** markdown source **/
.cm-s-typora-default .cm-header, 
.cm-s-typora-default .cm-property
{
    color: #cebcca;
}

.CodeMirror.cm-s-typora-default div.CodeMirror-cursor{
    border-left: 3px solid #b8bfc6;
}

.cm-s-typora-default .cm-comment {
    color: #9FB1FF;
}

.cm-s-typora-default .cm-string {
    color: #A7A7D9
}

.cm-s-typora-default .cm-atom, .cm-s-typora-default .cm-number {
    color: #848695;
    font-style: italic;
}

.cm-s-typora-default .cm-link {
    color: #95B94B;
}

.cm-s-typora-default .CodeMirror-activeline-background {
    background: rgba(51, 51, 51, 0.72);
}

.cm-s-typora-default .cm-comment, .cm-s-typora-default .cm-code {
	color: #8aa1e1;
}

/* pkmizer syntax highlight: 颜色取自本主题 CodeMirror 配色 */
pre code .c { color: #8aa1e1 }
pre code .c1 { color: #8aa1e1 }
pre code .cm { color: #8aa1e1 }
pre code .cp { color: #8aa1e1 }
pre code .cs { color: #8aa1e1 }
pre code .il { color: #848695 }
pre code .kc { color: #848695 }
pre code .m { color: #848695 }
pre code .mb { color: #848695 }
pre code .mf { color: #848695 }
pre code .mh { color: #848695 }
pre code .mi { color: #848695 }
pre code .mo { color: #848695 }
pre code .s { color: #A7A7D9 }
pre code .s1 { color: #A7A7D9 }
pre code .s2 { color: #A7A7D9 }
pre code .sb { color: #A7A7D9 }
pre code .sc { color: #A7A7D9 }
pre code .sd { color: #A7A7D9 }
pre code .se { color: #A7A7D9 }
pre code .sh { color: #A7A7D9 }
pre code .si { color: #A7A7D9 }
pre code .sr { color: #A7A7D9 }
pre code .ss { color: #A7A7D9 }
pre code .sx { color: #A7A7D9 }
